.container {
	width: 30%;
	margin-top: 3%;
	box-shadow: 0 3px 500px;
	padding: 40px;
}

.container {
	background-color: transparent;
	border-radius: 8%;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 10px #ffffff;
	width: 370px;
	height: 350px;
}

.content h1{
	margin-top: 80px;
	font-size: 50px;
	color: white;
	font-weight: bold;
	width: 1000px;
	cursor: pointer;
}

.container h2 {
	color:white;
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 45px;
}

button {
	width: 120px;
	height: 40px;
	font-size: 15px;
	margin: 10px 20px;
	box-shadow: 0 0 4px #ffffff;
	transition: box-shadow 0.5s ease;
	outline: none;
	align-content: center;
	font-weight: bold;
	color: white;
	background: transparent;
	box-shadow: ;
	border: rgb(40, 30, 90);
	position: relative;
	cursor: pointer;
	border-radius: 50px;
}

input {
	outline: none;
	box-shadow: 0 0 4px #ffffff;
	transition: box-shadow 0.5s ease;
}
input[placeholder]:focus{
	color: white;
}

input:focus, .button:hover{
	box-shadow: 0 0 10px #ffffff;
}

.custom-link:visited {
    color: white;
}

span {
	height: 100%;
	width: 0;
	left: 0;
	bottom: 0;
	z-index: -1px;
	position: absolute;
	border-radius: 50px;
	background: rgb(78, 71, 120);
}
